/* About Us Styles */
.container {
    max-width: 1200px; 
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title h1 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 12px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
}

.card {
    position: relative;
    height: 500px; 
    overflow: hidden;
    background: #222;
}

.card.landscape {
    grid-column: span 2;
    height: 600px; 
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.6s ease;
}

.details-box {
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background: rgba(0, 43, 73, 0.9); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    transition: left 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 2;
}

.card:hover .details-box {
    left: 0; 
}

.card:hover .card-image {
    transform: scale(1.1);
}

.card .landscape .card-image {
    object-fit: cover; 
}
.details-box h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-left: 4px solid #fff;
    padding-left: 15px;
}

.details-box p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
    opacity: 0.9;
}

.card .details-box ul li{
    font-size: 20px;
}

.btn-outline {
    display: inline-block;
    padding: 12px 30px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    transition: 0.3s;
    width: fit-content;
}

.btn-outline:hover {
    background: white;
    color: #002b49;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .card.landscape {
        grid-column: span 1;
        height: 500px;
    }
}